
.pop-up-window {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 15px;
    border: .2rem solid rgb(23, 0, 128);
    z-index: 9;
}

.pop-up-window .container {
    max-width: 300px;
    margin: .1rem .4rem;
    background-color: white;
    color: black;
}

.pop-up-window .container textarea {
    width: 100%;
    margin: 0rem 0 1rem 0;
    border: none;
    background: rgb(207, 204, 204);
    resize: none;
    height: 15rem;
}

.pop-up-window .container textarea:focus {
    background-color: rgb(151, 151, 151);
    outline: none;
}

.pop-up-window .container button {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(23, 0, 128);
    border-radius: 1.8rem;
    border-color: black;
    width: 8rem;
    height: 3rem;
    color: white;
    margin: .4rem .5rem;
} 